<nav class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href="#">Old 401k</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExample04">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
        <%= link_to 'Home', root_path, class: "nav-link" %>
			</li>
		</ul>
    <ul class="navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link droptown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hi User!</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { confirm: 'Going so soon?' }, class: "dropdown-item" %>
              <%= link_to 'Edit User Info', edit_user_registration_path, class: "dropdown-item" %>
            </div>
        </li>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path, class: "nav-link" %>
        <%= link_to 'Sign up', new_user_registration_path, class: "nav-link" %>
      <% end %>
    </ul>
	</div>
</nav>
