<p>
  <strong>First name:</strong>
  <%= @client.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @client.last_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= number_to_phone @client.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>
<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @client.state %>
</p>

<p>
  <strong>Citizenship:</strong>
  <%= @client.citizenship %>
</p>

<p>
  <strong>Employment status:</strong>
  <%= @client.employment_status %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @client.occupation %>
</p>

<p>
  <strong>Investment experience:</strong>
  <%= @client.investment_experience %>
</p>

<p>
  <strong>Stock exp:</strong>
  <%= @client.stock_exp %>
</p>

<p>
  <strong>Bond exp:</strong>
  <%= @client.bond_exp %>
</p>

<p>
  <strong>Mutual fund exp:</strong>
  <%= @client.mutual_fund_exp %>
</p>

<p>
  <strong>Option exp:</strong>
  <%= @client.option_exp %>
</p>

<p>
  <strong>Ddp exp:</strong>
  <%= @client.ddp_exp %>
</p>

<p>
  <strong>Reit exp:</strong>
  <%= @client.reit_exp %>
</p>

<p>
  <strong>Annuity exp:</strong>
  <%= @client.annuity_exp %>
</p>

<p>
  <strong>Account objective:</strong>
  <%= @client.account_objective %>
</p>

<p>
  <strong>Risk tolerance:</strong>
  <%= @client.risk_tolerance %>
</p>

<p>
  <strong>Account time horizon:</strong>
  <%= @client.account_time_horizon %>
</p>

<p>
  <strong>Annual income:</strong>
  <%= @client.annual_income %>
</p>

<p>
  <strong>Adjusted net worth:</strong>
  <%= @client.adjusted_net_worth %>
</p>

<p>
  <strong>Liquid net worth:</strong>
  <%= @client.liquid_net_worth %>
</p>

<p>
  <strong>Account liquidity needs:</strong>
  <%= @client.account_liquidity_needs %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
